<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F4FITNESS</title>
</head>
<body>
<h1>form</h1>
<table border="1"> <thead> <tr> <th>Phone Number</th> <th>Address</th> <th>Gender</th> </tr> </thead> <tbody> <tr> <td>123-456-7890</td> <td>123 Main St, Anytown, USA</td> <td>Male</td> </tr> <tr> <td>987-654-3210</td> <td>456 Elm St, Othertown, USA</td> <td>Female</td> </tr> <tr> <td>555-555-5555</td> <td>789 Oak St, Somewhere, USA</td> <td>Other</td> </tr> </tbody>
    
</body>
</html>